<!DOCTYPE html>
<title>Angular Sample 01</title>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<style>
    input.ng-invalid {
        background-color: #ffcccc;
    }
    .invalid {
        color: red;
    }
</style>
<div ng-app>
    <form name="form">
        <span ng-hide="form.$valid" class="invalid">未入力の項目があります</span><br>
        商品名: <input type="text" name="itemName" ng-model="itemName" required>
        <span ng-show="form.itemName.$error.required" class="invalid">必須項目です。入力してください</span><br>
        単価: <input type="number" name="price" ng-model="price" required> 円
        <span ng-show="form.itemName.$error.required" class="invalid">必須項目です。入力してください</span><br>
        数量: <input type="number" name="qty" ng-model="qty" required> 個
        <span ng-show="form.itemName.$error.required" class="invalid">必須項目です。入力してください</span><br>

        商品: {{itemName}}<br>
        合計: {{price * qty | number}} 円
    </form>
</div>
