<!DOCTYPE html>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script>
/**
 * アプリケーション モジュール オブジェクトの定義
 */
SampleModule = (function() {
    var module = angular.module("sampleModule", []);
})();

/**
 * コントローラの定義
 */
(function(module) {
    /**
     * SampleController
     */
    module.controller("sampleController", function($scope, $sce, $timeout){
        $timeout(function(){
            // $scopeに値、関数をバインド
            $scope.title = "AngularJSサンプル02";
            $scope.message = function() {
                return "このメッセージが表示されましたか？";
            }
            $scope.messageBr = $sce.trustAsHtml("このメッセージは<br>改行されて表示されていますか？");
        });
    });
})(angular.module("sampleModule"));
</script>

<!-- sampleModule テンプレート -->
<div ng-app="sampleModule">
    <!-- sampleController テンプレート -->
    <div ng-controller="sampleController" ng-cloak>
        <h1>{{title}}</h1>
        <p>{{message()}}</p>
        <p ng-bind-html="messageBr"></p>
    </div>
</div>
