<!DOCTYPE html>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script>
/**
 * アプリケーション モジュール オブジェクトの定義
 */
(function() {
    var module = angular.module("sampleModule", []);
})();

/**
 * 商品モデルクラス定義
 */
(function(module) {
    module.service("Product", function(){
        /**
         * コンストラクタ
         */
        var product = function() {
            this.name  = "";
            this.price = 0;
            this.qty   = 0;
            this.total = 0;
        }
        var p = product.prototype;

        /**
         * 合計を計算する
         */
        p.calcTotal = function() {
            this.total = this.price * this.qty;
        }

        return product;
    });
})(angular.module("sampleModule"));

/**
 * コントローラの定義
 */
(function(module) {
    /**
     * SampleController
     */
    module.controller("sampleController", function($scope, $timeout, Product) {
        // Productクラスのインスタンスを $scope にセットする
        $scope.product = new Product();
            
        /*
         * $scope の値の変化を監視する
         */
        // product.price, product.gty 変化イベント
        $scope.$watchGroup(["product.price", "product.qty"], function(newValue, orldValue, scope) {
            // product.price, product.gtyに変化があれば、合計額を計算する
            scope.product.calcTotal();
        });
        
        /*
         * イベント処理
         */
        // フィールドにフォーカスが入った時
        $scope.focusIn = function(event) {
            // フィールドの背景を薄黄色にする
            $(event.target).css("backgroundColor", "#ffffcc");
        }
        // フィールドからフォーカスがはずれた時
        $scope.focusOut = function(event) {
            // フィールドの背景を白にもどす
            $(event.target).css("backgroundColor", "#ffffff");
        }
    });
})(angular.module("sampleModule"));
</script>
<!-- sampleModule テンプレート -->
<div ng-app="sampleModule">
    <!-- sampleController テンプレート -->
    <div ng-controller="sampleController" ng-cloak>
        <dl>
            <dt>商品名</dt>
            <dd><input type="text" name="name" ng-model="product.name" ng-focus="focusIn($event)" ng-blur="focusOut($event)"></dd>
            <dt>単価</dt>
            <dd><input type="number" name="price" ng-model="product.price" ng-focus="focusIn($event)" ng-blur="focusOut($event)"> 円</dd>
            <dt>数量</dt>
            <dd><input type="number" name="qty" ng-model="product.qty" ng-focus="focusIn($event)" ng-blur="focusOut($event)"> 個</dd>
            <dt>合計</dt>
            <dd>{{product.total | number}} 円</dd>
        </dl>
    </div>
</div>
