<!DOCTYPE html>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script>
/**
 * アプリケーション モジュール オブジェクトの定義
 */
(function() {
    var module = angular.module("sampleModule", []);
})();
    
/**
 * フィルタの定義
 */
(function(module) {
    /**
     * nl2brフィルタ
     */
    module.filter('nl2br', function($sce) {
        return function(input) {
            if (input) {
                var replaced = input.replace(/(\r\n|\n|\r)/g, '<br>$1')
                return $sce.trustAsHtml(replaced);
            }
            return input;
        }
    });
    
    /**
     * yenNumberフィルタ
     */
    module.filter('yenNumber', function($filter) {
        return function(input) {
            if (input) {
                var numfilter = $filter('number');
                return numfilter(input) + '円';
            }
            return input;
        }
    });
    
    return module;
})(angular.module("sampleModule"));

/**
 * コントローラの定義
 */
(function(module) {
    /**
     * SampleController
     */
    module.controller("sampleController", function($scope, $sce, $timeout){
        $scope.message = "このメッセージは\n改行されて表示されていますか？";
        $scope.price   = 1234567;
    });
})(angular.module("sampleModule"));
</script>

<!-- sampleModule テンプレート -->
<div ng-app="sampleModule">
    <!-- sampleController テンプレート -->
    <div ng-controller="sampleController" ng-cloak>
        <p ng-bind-html="message | nl2br"></p>
        <p>{{price | yenNumber}}</p>
    </div>
</div>
