<!DOCTYPE html>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script>
/**
 * アプリケーション モジュール オブジェクトの定義
 */
SampleModule = (function() {
    var module = angular.module("sampleModule", []);
})();

/**
 * コントローラの定義
 */
(function(module) {
    /**
     * SampleController
     */
    module.controller("sampleController", function($scope){
        $scope.hashCollection  = {list1: "リスト1", list2: "リスト2", list3: "リスト3"};
        $scope.arrayCollection = ["要素1", "要素2", "要素3"];
        $scope.groupCollection = {
            list1: {name: "リスト1", group: "グループ1"},
            list2: {name: "リスト2", group: "グループ1"}, 
            list3: {name: "リスト3", group: "グループ2"},
            list4: {name: "リスト4", group: "グループ2"},
        };
    });
})(angular.module("sampleModule"));
</script>

<style>
    p.is-true {
        color: red;
    }
    p.is-false {
        color: black;
    }
    li.is-even {
        color: blue;
    }
    li.is-odd {
        color: green;
    }
</style>
<!-- sampleModule テンプレート -->
<div ng-app="sampleModule">
    <!-- sampleController テンプレート -->
    <div ng-controller="sampleController" ng-cloak>
        <h2>ngClass</h2>
        <p ng-class="flag ? 'is-true' : 'is-false'">
            <input type="checkbox" ng-model="flag">
            チェックボックスon/offでclassが変化する
        </p>
        
        <h2>ngRepeat</h2>
        <h3>例(1)</h3>
        <ul>
            <li ng-repeat="item in hashCollection">{{item}}</li>
        </ul>
        <h3>例(2)</h3>
        <ul>
            <li ng-repeat="(key, item) in hashCollection">{{key}}: {{item}}</li>
        </ul>
        <h3>例(3)</h3>
        <dl>
            <dt ng-repeat-start="(key, item) in hashCollection">{{key}}</dt>
            <dd ng-repeat-end>{{item}}</dd>
        </dl>
        <h3>例(4)</h3>
        <ul>
            <li ng-repeat="item in hashCollection" ng-class-even="'is-even'" ng-class-odd="'is-odd'">{{item}}</li>
        </ul>
        
        <h2>ngSwitch</h2>
        <select ng-model="selection">
            <option value=""></option>
            <option value="red">赤</option>
            <option value="blue">青</option>
            <option value="green">緑</option>
        </select>
        <p ng-switch="selection">
            <span ng-switch-when="red">赤を</span>
            <span ng-switch-when="blue">青を</span>
            <span ng-switch-when="green">緑を</span>
            <span ng-switch-default>未</span>
            選択
        </p>
        
        <h2>form</h2>
        <form name="form">
            <p ng-show="form.$invalid">不適正な入力あり</p>
            <p>
                テキスト：<input type="text" ng-model="text" name="text" required ng-maxlength="10" ng-pattern="/^[A-Za-z0-9]+$/">
                <span ng-show="form.text.$error.required">未入力</span>
                <span ng-show="form.text.$error.maxlength">文字数オーバー</span>
                <span ng-show="form.text.$error.pattern">英数字以外の文字</span>
            </p>
            <p>
                メールアドレス：<input type="email" ng-model="email" name="email" required>
                <span ng-show="form.email.$error.required">未入力</span>
            </p>
            <p>
                数字：<input type="number" ng-model="number" name="number" min="10" max="20"> ※10〜20
                <span ng-show="form.number.$invalid">範囲外の数字</span>
            </p>
            <p>
                <input type="radio" ng-model="check" value="OK">OK
                <input type="radio" ng-model="check" value="NG">NG<br>
                OKを選択すると↓がチェックされる
            </p>
            <p>
                チェックすると↑でOKが選択される<br>
                <input type="checkbox" ng-model="check" ng-true-value="'OK'" ng-false-value="'NG'"> OK
            </p>
            <p>
                配列タイプ：
                <select ng-model="arraySelect" ng-options="item for item in arrayCollection"></select><br>
                ハッシュタイプ：
                <select ng-model="hashSelect" ng-options="key as item for (key, item) in hashCollection"></select><br>
                グループタイプ：
                <select ng-model="groupSelect" ng-options="key as item.name group by item.group for (key, item) in groupCollection"></select><br>
            </p>
        </form>
    </div>
</div>
