<!DOCTYPE html>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.5/jquery.datetimepicker.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.5/jquery.datetimepicker.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script>
/**
 * アプリケーション モジュール オブジェクトの定義
 */
SampleModule = (function() {
    var module = angular.module("sampleModule", []);
    
    /**
     * dateTimePickerディレクティブ
     */
    module.directive('dateTimePicker', function(){
        return {
            link: function(scope, elem, attrs) {
                $(elem).datetimepicker({format:'Y-m-d H:i:s'});
            }
        };
    });
    
    /**
     * dateTemplateディレクティブ
     */
    module.directive('dateTemplate', function(){
        return {
            template: "{{year}}年{{month}}月{{day}}日",
        }
    });
    
    /**
     * dateTemplateUrlディレクティブ
     */
    module.directive('dateTemplateUrl', function(){
        return {
            restrict: 'E',
            templateUrl: "08-date.html",
        }
    });
    
    return module;
})();

/**
 * コントローラの定義
 */
(function(module) {
    /**
     * SampleController
     */
    module.controller("sampleController", function($scope, $timeout){
        // 日時が入力されたら年月日時分を分解する
        $scope.$watch('datetime', function(){
            if ($scope.datetime) {
                $scope.year  = $scope.datetime.substr(0, 4);
                $scope.month = $scope.datetime.substr(5, 2);
                $scope.day   = $scope.datetime.substr(8, 2);
                $scope.hour  = $scope.datetime.substr(11, 2);
                $scope.min   = $scope.datetime.substr(14, 2);
            }
        });
    });
})(SampleModule);
</script>

<!-- sampleModule テンプレート -->
<div ng-app="sampleModule">
    <!-- sampleController テンプレート -->
    <div ng-controller="sampleController" ng-cloak>
        <p>入力した日時をtemplate/templateUrlディレクティブで表示する</p>
        <h2>dateTimePickerディレクティブ</h2>
        <p>日時：<input ng-model="datetime" date-time-picker="hogehoge"></p>
        <h2>dateTemplateディレクティブ</h2>
        <p date-template></p>
        <h2>dateTemplateUrlディレクティブ</h2>
        <date-template-url></date-template-url>
    </div>
</div>
