<!DOCTYPE html>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.5/jquery.datetimepicker.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.5/jquery.datetimepicker.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script>
/**
 * アプリケーション モジュール オブジェクトの定義
 */
SampleModule = (function() {
    var module = angular.module("sampleModule", []);
    
    return module;
})();

/**
 * コントローラの定義
 */
(function(module) {
    /**
     * SampleA Controller
     */
    module.controller("sampleA", function($scope, $rootScope, $timeout){
        $timeout(function(){
            $scope.child      = "Child scope of sampleA";
            $rootScope.parent = "Parent scope";
        });
    });
    /**
     * SampleB Controller
     */
    module.controller("sampleB", function($scope, $rootScope, $timeout){
        $timeout(function(){
            $scope.child = "Child scope of sampleB";
        });
    });
})(SampleModule);
</script>

<!-- sampleModule テンプレート -->
<div ng-app="sampleModule">
    <!-- sampleA テンプレート -->
    <div ng-controller="sampleA" ng-cloak>
        <h2>SampleA Controller</h2>
        <dl>
            <dt>$scope.child</dt>
            <dd>{{child}}</dd>
            <dt>$rootScope.parent</dt>
            <dd>{{parent}}</dd>
        </dl>
    </div>
    <!-- sampleB テンプレート -->
    <div ng-controller="sampleB" ng-cloak>
        <h2>SampleB Controller</h2>
        <dl>
            <dt>$scope.child</dt>
            <dd>{{child}}</dd>
            <dt>$rootScope.parent</dt>
            <dd>{{parent}}</dd>
        </dl>
    </div>
</div>
