<!DOCTYPE html>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script>
/**
 * アプリケーション モジュール オブジェクトの定義
 */
SampleModule = (function() {
    var module = angular.module("sampleModule", []);
    
    return module;
})();

// サービスクラス定義変数
services = {};

/**
 * 商品モデルクラス定義
 */
services.ProductModel = (function() {
    // データ取得URL
    var getUrl     = "10-get.php";
    var getListUrl = "10-getList.php";
    
    /**
     * コンストラクタ
     */
    var productModel = function($http) {
        this.http =  $http;
    }
    var p = productModel.prototype;
    
    /**
     * 単一の商品データを取得する
     */
    p.get = function(scope, index) {
        // $httpサービスでサーバーサイドへリクエスト
        var promise = this.http({
            method: "post",         // リクエストメソッド
            url: getUrl,            // リクエスト先URL
            data: {index: index},   // 送信するデータ
        });
        // 成功時のコールバック処理
        promise.success(function(data, status, headers, config) {
            // 取得したデータをスコープにセット
            scope.product = data;
        });
        // エラー時のコールバック処理
        promise.error(function(data, status, headers, config) {
            alert("データを取得できませんでした");
        });
    }
    
    /**
     * 商品データのリストを取得する
     */
    p.getList = function(scope) {
        // $httpサービスでサーバーサイドへリクエスト
        var promise = this.http({
            method: "post",     // リクエストメソッド
            url: getListUrl,    // リクエスト先URL
        }).then(    // Promiseオブジェクトのthen()メソッドで処理
            // 成功時のコールバック処理
            function(response) {
                // 取得したデータをスコープにセット
                scope.list = response.data.products;
            },
            // エラー時のコールバック処理
            function(response) {
                alert("データを取得できませんでした");
            }
        );
    }
    
    return productModel;
})();


/**
 * コントローラの定義
 */
(function(module) {
    /**
     * ProductModel
     */
    module.factory("ProductModel", function($http) {
        return new services.ProductModel($http);
    });
    
    /**
     * SampleController
     */
    module.controller("sampleController", function($scope, $timeout, ProductModel){
        $timeout(function(){
            // 商品データリストを取得する
            ProductModel.getList($scope);
        });
        
        /**
         * 商品選択時の処理
         */
        $scope.selectProduct = function(index) {
            $timeout(function(){
                // 指定した商品のデータを取得する
                ProductModel.get($scope, index);
            });
        }
    });
})(SampleModule);
</script>

<style>
    table {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
    }
</style>

<!-- sampleModule テンプレート -->
<div ng-app="sampleModule">
    <!-- sampleA テンプレート -->
    <div ng-controller="sampleController" ng-cloak>
        <h2>商品一覧</h2>
        <table>
            <tr>
                <th></th>
                <th>コード</th>
                <th>商品名</th>
                <th>価格</th>
            </tr>
            <tr ng-repeat="(index, product) in list">
                <td><button type="button" ng-click="selectProduct(index)">選択</button></td>
                <td>{{product.code}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price | number}}円</td>
            </tr>
        </table>
        
        <h2>選択した商品</h2>
        <p>{{product.code}} {{product.name}} {{product.price|number}}円</p>
    </div>
</div>
